@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/*! Globalt styles ***/
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 2.88rem;
  letter-spacing: 5px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.calculator {
  max-width: 460px;
  padding: 2rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}

#input {
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 1px;
  font-size: 4rem;
  padding: 1rem 1.5rem 0 0;
  text-align: right;
  margin-right: 0.6rem;
  overflow-x: auto;
}
.buttons {
  display: grid;
  position: relative;
}
.numbers,
.operators {
  display: flex;
  gap: 12.55px;
}
.main-panel .numbers div,
.operators div {
  width: 8rem;
  padding: 1rem;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
}

.main-panel .numbers div {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 1rem 0.4rem 1rem 0;
}

.operators div {
  border: 1px solid #bbb;
  background-color: #ddd;
  margin: 2rem 0.4rem 1rem 0;
}

.equal {
  display: inline-block;

  width: 17%;

  padding: 12.7rem 1rem;
  margin: 1rem 0.6rem 1rem 0;

  border-radius: 1px;
  border: 1px solid #3079ed;
  color: #fff;
  background-color: #4d90fe;

  text-align: center;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
}

/*^ ANIMATIONS  */

.numbers div:hover {
  background-color: #f1f1f1;
  border-color: #bbb;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div:hover {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.equal:hover {
  background-color: #307cf9;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857bb;
}

#input:hover {
  border: 1px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.numbers div,
.operators div,
.equal,
#input {
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }
  body {
    background-color: #9c9c9c;
  }
  .calculator {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px white;
    max-width: 376px;
  }
  .buttons .numbers div,
  .operators div {
    border-radius: 25%;
  }
  .equal {
    border-radius: 10%;
  }
  #input {
    border: 0px;
    height: 24rem;
    font-size: 7rem;
    pointer-events: none;
  }
}

@media only screen and (max-width: 410px) {
  html {
    font-size: 45%;
  }
  .buttons .numbers div,
  .operators div {
    width: 5rem;
  }
  .equal {
    width: 5rem;
  }
}
